.observation table tr td:nth-child(2) { 
    font-family: monospace;
}
.observation {
    width: 100%;
    align-items: center;
    display: flexbox;
}
table {
    display: block;
}
h3 {
    display: block;
}
